{% extends 'products/base.html' %}
{% block title %}Skystore{%endblock%}
{%block content%}
{% include 'products/header.html' %}

<div class="container mt-5">
    <h2 class="mb-4">Список продуктов</h2>
    <div class="row">
        {% for product in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/300x200?text=No+Image" class="card-img-top" alt="Без изображения">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            {{ product.description|truncatechars:100 }}
                        </p>
                        <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
