{% extends 'products/base.html' %}
{% block title %}Вход в аккаунт{%endblock%}
{%block content%}
{% include 'products/header.html' %}
<div class="container-fluid centered">
    <div class="row">
        <div class="col-md-4 mb-4">
           <form class="row" method="post" enctype="multipart/form-data">
              <div class="card">
                  <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                  </div>
                  <button type="submit" class="btn btn-primary">Войти</button>
              </div>
           </form>
        </div>
    </div>
</div>
{% endblock %}
